include *.rst
include *.txt
include *.cfg
include LICENSE 
include Makefile 
include MANIFEST.in
include conftest.py

recursive-exclude notes *
recursive-exclude * -workspace

graft docs
graft ml_studio
graft tests

global-exclude __pycache__
global-exclude *.py[co]
global-exclude notes